---
layout: page
title: Hello from the other side!
subtitle: Researcher, TCS Research and Innovation, Delhi <br /> Masters (2016-2018), IIIT-Delhi
use-site-title: true
---
<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-135005199-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-135005199-1');
	</script>
	<link href="styles.css" rel="stylesheet">
</head>

<body>
    <div id="Animation">
	    <svg version="1.1" id="home-anim" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 1820 1080" style="enable-background:new 0 0 1820 1080;" xml:space="preserve">

<g id="home">
	<defs>
		<rect id="masque" y="0.4" width="1820" height="1080"/>
	</defs>
	<clipPath id="cache">
		<use xlink:href="#masque"  style="overflow:visible;"/>
	</clipPath>
	<g id="light-blue">
		<line x1="630.8" y1="894.3" x2="476.3" y2="1048.8"/>
		<line x1="858.2" y1="823.9" x2="1012.7" y2="669.4"/>
		<line x1="1066.9" y1="458.2" x2="912.4" y2="612.7"/>
		<line x1="1294.3" y1="387.8" x2="1448.8" y2="233.3"/>
		<line x1="1503" y1="22.1" x2="1348.5" y2="176.6"/>
		<line x1="895.6" y1="1166.6" x2="1050.1" y2="1012.1"/>
		<line x1="1104.3" y1="800.9" x2="949.8" y2="955.4"/>
		<line x1="1331.7" y1="730.5" x2="1486.2" y2="576"/>
		<line x1="1540.4" y1="364.8" x2="1385.9" y2="519.3"/>
		<line x1="1767.8" y1="294.4" x2="1922.3" y2="139.9"/>
		<line x1="1976.5" y1="-71.3" x2="1822" y2="83.2"/>
		<line x1="1369.1" y1="1073.2" x2="1523.6" y2="918.7"/>
		<line x1="1577.8" y1="707.5" x2="1423.3" y2="862"/>
		<line x1="1805.2" y1="637.1" x2="1959.7" y2="482.6"/>
		<line x1="1624" y1="1041.4" x2="1469.4" y2="1195.9"/>
		<line x1="-134.7" y1="674.9" x2="19.8" y2="520.4"/>
		<line x1="74" y1="309.2" x2="-80.5" y2="463.7"/>
		<line x1="301.4" y1="238.8" x2="455.9" y2="84.3"/>
		<line x1="510.1" y1="-126.9" x2="355.6" y2="27.6"/>
		<line x1="-88.6" y1="1008.9" x2="65.9" y2="854.4"/>
		<line x1="120.1" y1="643.1" x2="-34.4" y2="797.7"/>
		<line x1="347.5" y1="572.8" x2="502" y2="418.3"/>
		<line x1="556.2" y1="207.1" x2="401.7" y2="361.6"/>
		<line x1="783.6" y1="136.7" x2="938.1" y2="-17.8"/>
		<line x1="157.6" y1="985.8" x2="3" y2="1140.3"/>
		<line x1="384.9" y1="915.5" x2="539.4" y2="760.9"/>
		<line x1="593.6" y1="549.7" x2="439.1" y2="704.3"/>
		<line x1="821" y1="479.4" x2="975.5" y2="324.9"/>
		<line x1="1029.7" y1="113.6" x2="875.2" y2="268.2"/>
		<line x1="1257.1" y1="43.3" x2="1411.6" y2="-111.2"/>
	</g>
	<g id="red">
		<line x1="794.4" y1="883.4" x2="639.8" y2="1037.9"/>
		<line x1="694.6" y1="834.8" x2="849.2" y2="680.3"/>
		<line x1="1230.4" y1="447.3" x2="1075.9" y2="601.8"/>
		<line x1="1130.7" y1="398.7" x2="1285.2" y2="244.2"/>
		<line x1="1666.5" y1="11.2" x2="1512" y2="165.7"/>
		<line x1="732" y1="1177.5" x2="886.6" y2="1023"/>
		<line x1="1267.9" y1="790" x2="1113.3" y2="944.5"/>
		<line x1="1168.1" y1="741.4" x2="1322.7" y2="586.9"/>
		<line x1="1703.9" y1="353.9" x2="1549.4" y2="508.4"/>
		<line x1="1604.2" y1="305.3" x2="1758.7" y2="150.8"/>
		<line x1="1205.5" y1="1084.1" x2="1360.1" y2="929.6"/>
		<line x1="1741.4" y1="696.5" x2="1586.8" y2="851.1"/>
		<line x1="1641.6" y1="648" x2="1796.2" y2="493.5"/>
		<line x1="1787.5" y1="1030.5" x2="1633" y2="1185"/>
		<line x1="1687.8" y1="981.9" x2="1842.3" y2="827.4"/>
		<line x1="200.1" y1="-44.4" x2="45.6" y2="110.1"/>
		<line x1="237.5" y1="298.3" x2="83" y2="452.8"/>
		<line x1="137.8" y1="249.7" x2="292.3" y2="95.2"/>
		<line x1="673.6" y1="-137.8" x2="519.1" y2="16.7"/>
		<line x1="283.7" y1="632.2" x2="129.2" y2="786.8"/>
		<line x1="184" y1="583.7" x2="338.5" y2="429.2"/>
		<line x1="719.8" y1="196.2" x2="565.2" y2="350.7"/>
		<line x1="620" y1="147.6" x2="774.6" y2="-6.9"/>
		<line x1="321.1" y1="974.9" x2="166.6" y2="1129.4"/>
		<line x1="221.4" y1="926.4" x2="375.9" y2="771.8"/>
		<line x1="757.2" y1="538.8" x2="602.7" y2="693.4"/>
		<line x1="657.5" y1="490.3" x2="812" y2="335.8"/>
		<line x1="1193.3" y1="102.7" x2="1038.7" y2="257.3"/>
		<line x1="1093.5" y1="54.2" x2="1248.1" y2="-100.3"/>
	</g>
	<g id="blue">
		<line x1="225.8" y1="1151" x2="534.9" y2="841.9"/>
		<line x1="827.1" y1="1003.3" x2="518" y2="1312.3"/>
		<line x1="661.9" y1="714.9" x2="971" y2="405.9"/>
		<line x1="1263.1" y1="567.2" x2="954.1" y2="876.3"/>
		<line x1="1098" y1="278.8" x2="1407.1" y2="-30.2"/>
		<line x1="1699.2" y1="131.1" x2="1390.2" y2="440.2"/>
		<line x1="699.3" y1="1057.6" x2="1008.4" y2="748.5"/>
		<line x1="1300.6" y1="909.9" x2="991.5" y2="1218.9"/>
		<line x1="1135.4" y1="621.5" x2="1444.5" y2="312.4"/>
		<line x1="1736.6" y1="473.8" x2="1427.6" y2="782.8"/>
		<line x1="1571.5" y1="185.4" x2="1880.6" y2="-123.6"/>
		<line x1="1172.8" y1="964.2" x2="1481.9" y2="655.1"/>
		<line x1="1774.1" y1="816.5" x2="1465" y2="1125.5"/>
		<line x1="1608.9" y1="528.1" x2="1918" y2="219"/>
		<line x1="1219" y1="1298.1" x2="1528" y2="989.1"/>
		<line x1="1655.1" y1="862" x2="1964.1" y2="553"/>
		<line x1="232.8" y1="75.5" x2="-76.2" y2="384.6"/>
		<line x1="270.2" y1="418.2" x2="-38.8" y2="727.3"/>
		<line x1="105.1" y1="129.8" x2="414.2" y2="-179.2"/>
		<line x1="706.3" y1="-17.9" x2="397.3" y2="291.2"/>
		<line x1="-284.8" y1="899.9" x2="24.2" y2="590.8"/>
		<line x1="316.4" y1="752.2" x2="7.3" y2="1061.2"/>
		<line x1="151.3" y1="463.8" x2="460.3" y2="154.7"/>
		<line x1="752.5" y1="316.1" x2="443.4" y2="625.1"/>
		<line x1="587.3" y1="27.7" x2="896.4" y2="-281.4"/>
		<line x1="1188.6" y1="-120" x2="879.5" y2="189"/>
		<line x1="-247.4" y1="1242.5" x2="61.6" y2="933.5"/>
		<line x1="188.7" y1="806.4" x2="497.7" y2="497.4"/>
		<line x1="789.9" y1="658.8" x2="480.8" y2="967.8"/>
		<line x1="624.8" y1="370.4" x2="933.8" y2="61.3"/>
		<line x1="1226" y1="222.7" x2="916.9" y2="531.7"/>
		<line x1="1662.1" y1="-213.4" x2="1353" y2="95.6"/>
	</g>
</g>
</svg>

	<!--<div id="LinkedIn" align="center">
		<div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="en_US" data-type="vertical" data-theme="light" data-vanity="ankit-sharma-57507b63"><a class="LI-simple-link" href='https://in.linkedin.com/in/ankit-sharma-57507b63?trk=profile-badge'>Ankit Sharma</a></div>
	</div>-->	
    <div id="experience" style="background-color:ghostwhite">
        <h2 class="heading"><u>Experience</u></h2>
        <div id="experience-timeline">
	    <div>
                <h3>Tata Consultancy Services - Research & Innovation <br /> (October 2018 – Present)</h3>
                <h4>Researcher</h4>
                <p style="text-align:justify">
			Advisor: <a href="https://scholar.google.co.in/citations?user=f70Rc2wAAAAJ&hl=en">Dr. Gautam Shroff</a><br />
			Research Interests: Deep Learning (applied to causality), Meta Learning, Machine Learning and Generative Modelling <br />
			Current field of work: Deep Learning and Artificial Intelligence <br />
			I was recruited by TCS research and Innovation Labs during campus placements in 2017. My Master's thesis along with strong inclination towards Data Science took me to the R&D group in Delhi.
			We, at Innovation Labs, strive to propose research oriented meaningful solutions to real-world business problems.
		</p>
            </div>
            <div>
                <h3>Indraprastha Institute of Information Technology, Delhi (IIITD) <br /> (August  2016 – August 2018)</h3>
                <h4>Teaching Assistant</h4>
                <p style="text-align:justify">
			My role was to assist professors in academic duties like teaching, paper setting, exam evaluation, demos, etc.
                </p>
            </div>
	    <div>
                <h3>Sopra Steria India <br /> (October 2015 – June 2016)</h3>
                <h4>Engineer-Development</h4>
                <p style="text-align:justify">
			Project: Gemalto Security <br />
			Technical Expertise: PL/SQL with Oracle APEX (Application Express) <br />
			My key responsibility areas covered development and maintenance of Gemalto's analytics engine which was developed using PL/SQL as the core. During my service for Gemalto, I had also received Bon Travail acknowledging my exceptional performance in the project.
			
                </p>
            </div>
            <div>
                <h3>Sopra Steria India <br /> (July 2015 – October 2015)</h3>
                <h4>Trainee</h4>
                <p style="text-align:justify">
			I joined Sopra Steria India (formely known as Sopra India Pvt. Ltd.) after completing my bachelors from Guru Gobind Singh Indraprastha University (GGSIPU) in 2015. I underwent formal training in Java, .Net and PL/SQL. I had also presented projects in
			Java and .Net which were graded as the best ones from amongst the batch.
                </p>
            </div>
        </div>
    </div>
    <!-- End #experience -->

    <div id="education" style="background-color:snow">
        <h2 class="heading"><u>Education</u></h2>
        <div class="education-block">
            <h3>Indraprastha Institute of Information Technology, Delhi (IIITD)</h3>
            <span class="education-date">July 2016 - August 2018</span>
            <h4>Master of Technology in Computational Biology (CGPA-8.74)</h4>
            <p style="text-align:justify">
		    Expertise Area: Probability and Statistics, Mathematical modelling, Probabilistic Graphical Models, Stochastic simulations, Machine Learning, Algorithms in Computational Biology
		    and Parallel Programming. <br />
	    </p>
        </div>
        <!-- End .education-block -->

        <div class="education-block">
            <h3>Northern India Engineering College, Delhi - GGSIPU</h3>
            <span class="education-date">August 2011 - May 2015</span>
            <h4>Bachelor of Technology in Information Technology (Percentage-76.33%)</h4>
		<p style="text-align:justify">
			Expertise Area: Data Structures, Algorithms, OOPD, Computer Architecture, Computer Networks, Database Management System, Discrete Maths, Theory of Computation and Compiler Design. <br /> 
			Passed B.Tech degree examinations in first division with distinction.
		</p>
        </div>
        <!-- End .education-block -->
    </div>
    <!-- End #education -->

    <div id="Publications" style="background-color:ghostwhite">
	<h2 class="heading"><u>Publications</u></h2>
	    <p style="text-align:justify">
				<b>MultiMBNN: Matched and Balanced Causal Inference with Neural Networks</b><br />
				<b>Ankit Sharma</b>, Garima Gupta, Ranjitha Prasad, Arnab Chatterjee, Lovekesh Vig, Gautam Shroff - December, 2019<br />
		    		European Symposium on Artificial Neural Networks, Computational Intelligence and Machine Learning - ESANN 2020
			</p>
	    <p style="text-align:justify">
				<b>MetaCI: Meta-Learning for Causal Inference in a Heterogeneous Population</b><br />
				<b>Ankit Sharma</b>, Garima Gupta, Ranjitha Prasad, Arnab Chatterjee, Lovekesh Vig, Gautam Shroff - October, 2019<br />
		    		Conference on Neural Information Processing Systems (NeurIPS) 2019 - CausalML workshop
		    		<a href="https://cpb-us-w2.wpmucdn.com/sites.coecis.cornell.edu/dist/a/238/files/2019/12/Id_45_final.pdf">Paper</a>
		    		<a href="https://drive.google.com/file/d/1Km3JOwCGs3Py1Mh7nTsyZnA3JOiAqQ_V/view">Poster</a>
			</p>
	    <p style="text-align:justify">
				<b>Supervised learning of protein thermal stability using sequence mining and distribution statistics of network centrality</b><br />
		    		<b>Ankit Sharma</b>, Ganesh Bagler, Debajyoti Bera - September, 2019<br />
		    		<a href="https://www.biorxiv.org/content/10.1101/777177v2">Preprint</a>
			</p>
	
	</div>

	<div id="Patents" style="background-color:snow">
	<h2 class="heading"><u>Patents</u></h2>
	    <p style="text-align:justify">
				<b>METHOD AND SYSTEM FOR CAUSAL INFERENCE IN HETEROGENEOUS POPULATION USING META-LEARNING</b><br />
				<b>Ankit Sharma</b>, Garima Gupta, Ranjitha Prasad, Arnab Chatterjee, Lovekesh Vig, Gautam Shroff - December, 2019<br />
			</p>	
	</div>

    <div id="project" style="background-color:ghostwhite">
        <h2 class="heading"><u>Projects</u></h2>
        <div class="education-block">
		<h3>M.Tech thesis: <a href="https://repository.iiitd.edu.in/xmlui/handle/123456789/647">Classification of proteins on the basis of thermal stability using supervised learning</a></h3>
                        <p style="text-align:justify">
				Thesis Advisors: <a href="http://faculty.iiitd.ac.in/~dbera/">Dr. Debajyoti Bera</a> and <a href="http://faculty.iiitd.ac.in/~bagler/">Dr. Ganesh Bagler</a><br />
				Analysis of feature-model relationship over self-curated and statistically validated dataset and use of a combination of standard and newly proposed features to address the problem of protein classification.
                        </p>
	</div>
	<div class="education-block">
		<h3>Community Identification in Egocentric social networks</h3>
                        <p style="text-align:justify">
				Advisor: <a href="http://faculty.iiitd.ac.in/~anands/">Dr. Saket Anand</a><br />
				Use of a series of supervised machine learning classifiers over egonets to identify communities in social networks and performing inferential analysis.
                        </p>
	</div>
	<div class="education-block">
		<h3>Structural Motif Identification using algorithmic approach</h3>
                        <p style="text-align:justify">
				Advisors: <a href="https://www.debarka.com">Dr. Debarka Sengupta</a> and <a href="http://faculty.iiitd.ac.in/~bagler/">Dr. Ganesh Bagler</a><br />
				Use of various algorithmic approaches to solve the hard problem of network motif identification.
                        </p>
	</div>
	<div class="education-block">
		<h3>Monte Carlo simulation of Apoptosome formation</h3>
                        <p style="text-align:justify">
				Advisor: <a href="https://sites.google.com/a/iiitd.ac.in/subhadip/">Dr. Subhadip Raychaudhuri</a><br />
                        	Probability based Monte Carlo simulation of the process of apotosome formation and analysis of the results.
			</p>
	</div>
	<div class="education-block">
		<h3>Bayesian Network learning from multi parameter Single-Cell Data</h3>
                        <p style="text-align:justify">
				Advisor: <a href="https://www.cse.iitd.ac.in/~chetan/">Dr. Chetan Arora</a><br />
				Use of concepts of Probabilistic Graphical Models to learn a directed network from the data and to infer causal relationships from it.
			</p>
	</div>
        <div class="education-block">
		<h3>Inferring spice-disease associations</h3>
                        <p style="text-align:justify">
				Advisor: <a href="http://faculty.iiitd.ac.in/~bagler/">Dr. Ganesh Bagler</a><br />
				Application of association rule mining algorithms in order to discover spice-disease associations.
			</p>
	</div>
	<div class="education-block">
		<h3>Smart Health Portal</h3>
                        <p style="text-align:justify">
				Advisor: Dr. Tanusri Bhattacharya<br />
				Health portal with social networking facility using OOPD.
			</p>
	</div>
	    
    </div>
    <!-- End #projects -->	

	   <div id="languages" style="background-color:snow">
	        <h2 class="heading"><u>Languages</u></h2>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<b>Python </b>
	   	<span class="fa fa-star checked"></span>
		<span class="fa fa-star checked"></span>
		<span class="fa fa-star checked"></span>
		<span class="fa fa-star checked"></span>
		<span class="fa fa-star"></span> 
	   	<br />
	   	<b>Java </b>
		<span class="fa fa-star checked"></span>
		<span class="fa fa-star checked"></span>
		<span class="fa fa-star checked"></span>
		<span class="fa fa-star"></span>
		<span class="fa fa-star"></span>
	   	<br />
	   	<b>C# </b>
		<span class="fa fa-star checked"></span>
		<span class="fa fa-star checked"></span>
		<span class="fa fa-star checked"></span>
		<span class="fa fa-star"></span>
		<span class="fa fa-star"></span> 
	   	<br />
	   	<b>C & C++ </b>
		<span class="fa fa-star checked"></span>
		<span class="fa fa-star checked"></span>
		<span class="fa fa-star checked"></span>
		<span class="fa fa-star"></span>
		<span class="fa fa-star"></span> 
   </div>

   <div id="skills">
	   <h2 class="heading"><u>Technical Skills</u></h2>
	   <div class="w3-light-grey">
	   	<div class="w3-container w3-green" style="width:90%">   Machine Learning: 90%</div>
	   </div>
	   <br />
	   <div class="w3-light-grey">
	   	<div class="w3-container w3-green" style="width:90%">   Deep Learning: 90%</div>
	   </div>
	   <br />
	   <div class="w3-light-grey">
	   	<div class="w3-container w3-green" style="width:85%">   Algorithms: 85%</div>
	   </div>
	   <br />
	   <div class="w3-light-grey">
	   	<div class="w3-container w3-green" style="width:85%">   Meta Learning: 85%</div>
	   </div>
	   <br />
	   <div class="w3-light-grey">
	   	<div class="w3-container w3-green" style="width:85%">   Graphical Models: 85%</div>
	   </div>
	   <br />
	   <div class="w3-light-grey">
	   	<div class="w3-container w3-green" style="width:80%">   Parallel Computing: 80%</div>
	   </div>
	   <br />
	   <div class="w3-light-grey">
	   	<div class="w3-container w3-green" style="width:80%">   Stochastic Simulations: 80%</div>
	   </div>
	   <br />
	   <div class="w3-light-grey">
	   	<div class="w3-container w3-green" style="width:80%">   Probability: 80%</div>
	   </div>
	   <br />
	   <div class="w3-light-grey">
	   	<div class="w3-container w3-green" style="width:75%">   Mathematical Modeling: 75%</div>
	   </div>
   </div>
   <div>
	   <p></p>
   </div>
   <div style="display: flex; justify-content: center;"></div>
            <a href="https://github.com/ankits0207" class="gh-contributions" data-gh-username="ankits0207" target="_blank">ankits0207's contributions</a><script src="https://ikuwow.github.io/yourcontributions/widget.min.js"></script>
   	    <div align=center><a href='https://www.counter12.com'><img src='https://www.counter12.com/img-AzwzcZYZc1Ay6WC5-56.gif' border='0' alt='counter'></a><script type='text/javascript' src='https://www.counter12.com/ad.js?id=AzwzcZYZc1Ay6WC5'></script></div>
   </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</div>
</body>

<div class="posts-list">
  {% for post in paginator.posts %}
  <article class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
	  <h2 class="post-title">{{ post.title }}</h2>

	  {% if post.subtitle %}
	  <h3 class="post-subtitle">
	    {{ post.subtitle }}
	  </h3>
	  {% endif %}
    </a>

    <p class="post-meta">
      Posted on {{ post.date | date: "%B %-d, %Y" }}
    </p>

    <div class="post-entry-container">
      {% if post.image %}
      <div class="post-image">
        <a href="{{ post.url | prepend: site.baseurl }}">
          <img src="{{ post.image }}">
        </a>
      </div>
      {% endif %}
      <div class="post-entry">
        {{ post.excerpt | strip_html | xml_escape | truncatewords: site.excerpt_length }}
        {% assign excerpt_word_count = post.excerpt | number_of_words %}
        {% if post.content != post.excerpt or excerpt_word_count > site.excerpt_length %}
          <a href="{{ post.url | prepend: site.baseurl }}" class="post-read-more">[Read&nbsp;More]</a>
        {% endif %}
      </div>
    </div>

    {% if post.tags.size > 0 %}
    <div class="blog-tags">
      Tags:
      {% if site.link-tags %}
      {% for tag in post.tags %}
      <a href="{{ site.baseurl }}/tags#{{- tag -}}">{{- tag -}}</a>
      {% endfor %}
      {% else %}
        {{ post.tags | join: ", " }}
      {% endif %}
    </div>
    {% endif %}

   </article>
  {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<ul class="pager main-pager">
  {% if paginator.previous_page %}
  <li class="previous">
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="next">
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %}
