---
layout: page
title: Hello from the other side!
subtitle: Researcher, TCS Research and Innovation, Delhi <br /> Masters (2016-2018), IIIT-Delhi
use-site-title: true
---
<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-135005199-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-135005199-1');
	</script>
	 <link href="styles.css" rel="stylesheet">
</head>

<body>
    <div id="experience" class="background-alt">
        <h2 class="heading"><u>Experience</u></h2>
        <div id="experience-timeline">
	    <div>
                <h3>Tata Consultancy Services - Research & Innovation <br /> (October 2018 – Present)</h3>
                <h4>Researcher</h4>
                <p style="text-align:justify">
			Advisor: <a href="https://scholar.google.co.in/citations?user=f70Rc2wAAAAJ&hl=en">Dr. Gautam Shroff</a><br />
			Research Interests: Deep Learning (applied to causality), Meta Learning, Machine Learning and Generative Modelling <br />
			Current field of work: Deep Learning and Artificial Intelligence <br />
			I was recruited by TCS research and Innovation Labs during campus placements in 2017. My Master's thesis along with strong inclination towards Data Science took me to the R&D group in Delhi.
			We, at Innovation Labs, strive to propose research oriented meaningful solutions to real-world business problems.
		</p>
            </div>
	    <div>
                <h3>Sopra Steria India <br /> (October 2015 – June 2016)</h3>
                <h4>Engineer-Development</h4>
                <p style="text-align:justify">
			Project: Gemalto Security <br />
			Technical Expertise: PL/SQL with Oracle APEX (Application Express) <br />
			My key responsibility areas covered development and maintenance of Gemalto's analytics engine which was developed using PL/SQL as the core. During my service for Gemalto, I had also received Bon Travail acknowledging my exceptional performance in the project.
			
                </p>
            </div>
            <div>
                <h3>Sopra Steria India <br /> (July 2015 – October 2015)</h3>
                <h4>Trainee</h4>
                <p style="text-align:justify">
			I joined Sopra Steria India (formely known as Sopra India Pvt. Ltd.) after completing my bachelors from Guru Gobind Singh Indraprastha University (GGSIPU) in 2015. I underwent formal training in Java, .Net and PL/SQL. I had also presented projects in
			Java and .Net which were graded as the best ones from amongst the batch.
                </p>
            </div>
        </div>
    </div>
    <!-- End #experience -->

    <div id="education">
        <h2 class="heading"><u>Education</u></h2>
        <div class="education-block">
            <h3>Indraprastha Institute of Information Technology, Delhi (IIITD)</h3>
            <span class="education-date">July 2016 - August 2018</span>
            <h4>Master of Technology in Computational Biology (CGPA-8.74)</h4>
            <p style="text-align:justify">
		    Expertise Area: Probability and Statistics, Mathematical modelling, Probabilistic Graphical Models, Stochastic simulations, Machine Learning, Algorithms in Computational Biology
		    and Parallel Programming. <br />
	    </p>
        </div>
        <!-- End .education-block -->

        <div class="education-block">
            <h3>Northern India Engineering College, Delhi - GGSIPU</h3>
            <span class="education-date">August 2011 - May 2015</span>
            <h4>Bachelor of Technology in Information Technology (Percentage-76.33%)</h4>
		<p style="text-align:justify">
			Expertise Area: Data Structures, Algorithms, OOPD, Computer Architecture, Computer Networks, Database Management System, Discrete Maths, Theory of Computation and Compiler Design. <br /> 
			Passed B.Tech degree examinations in first division with distinction.
		</p>
        </div>
        <!-- End .education-block -->
    </div>
    <!-- End #education -->

    <div id="project">
        <h2 class="heading"><u>Projects</u></h2>
        <div class="education-block">
		<h3>M.Tech thesis: <a href="https://repository.iiitd.edu.in/xmlui/handle/123456789/647">Classification of proteins on the basis of thermal stability using supervised learning</a></h3>
                        <p style="text-align:justify">
				Thesis Advisors: <a href="http://faculty.iiitd.ac.in/~dbera/">Dr. Debajyoti Bera</a> and <a href="http://faculty.iiitd.ac.in/~bagler/">Dr. Ganesh Bagler</a><br />
				Analysis of feature-model relationship over self-curated and statistically validated dataset and use of a combination of standard and newly proposed features to address the problem of protein classification.
                        </p>
	</div>
	<div class="education-block">
		<h3>Community Identification in Egocentric social networks</h3>
                        <p style="text-align:justify">
				Advisor: <a href="http://faculty.iiitd.ac.in/~anands/">Dr. Saket Anand</a><br />
				Use of a series of supervised machine learning classifiers over egonets to identify communities in social networks and performing inferential analysis.
                        </p>
	</div>
	<div class="education-block">
		<h3>Structural Motif Identification using algorithmic approach</h3>
                        <p style="text-align:justify">
				Advisors: <a href="https://www.debarka.com">Dr. Debarka Sengupta</a> and <a href="http://faculty.iiitd.ac.in/~bagler/">Dr. Ganesh Bagler</a><br />
				Use of various algorithmic approaches to solve the hard problem of network motif identification.
                        </p>
	</div>
	<div class="education-block">
		<h3>Monte Carlo simulation of Apoptosome formation</h3>
                        <p style="text-align:justify">
				Advisor: <a href="https://sites.google.com/a/iiitd.ac.in/subhadip/">Dr. Subhadip Raychaudhuri</a><br />
                        	Probability based Monte Carlo simulation of the process of apotosome formation and analysis of the results.
			</p>
	</div>
	<div class="education-block">
		<h3>Bayesian Network learning from multi parameter Single-Cell Data</h3>
                        <p style="text-align:justify">
				Advisor: <a href="https://www.cse.iitd.ac.in/~chetan/">Dr. Chetan Arora</a><br />
				Use of concepts of Probabilistic Graphical Models to learn a directed network from the data and to infer causal relationships from it.
			</p>
	</div>
        <div class="education-block">
		<h3>Inferring spice-disease associations</h3>
                        <p style="text-align:justify">
				Advisor: <a href="http://faculty.iiitd.ac.in/~bagler/">Dr. Ganesh Bagler</a><br />
				Application of association rule mining algorithms in order to discover spice-disease associations.
			</p>
	</div>
	<div class="education-block">
		<h3>Smart Health Portal</h3>
                        <p style="text-align:justify">
				Advisor: Dr. Tanusri Bhattacharya<br />
				Health portal with social networking facility using OOPD.
			</p>
	</div>
	    
    </div>
    <!-- End #projects -->	
	
    <div id="Publications">
	<h2 class="heading"><u>Publications</u></h2>
	    <p style="text-align:justify">
				<b>MetaCI: Meta-Learning for Causal Inference in a Heterogeneous Population</b><br />
				Ankit Sharma, Garima Gupta, Ranjitha Prasad, Arnab Chatterjee, Lovekesh Vig, Gautam Shroff - December, 2019<br />
		    		Accepted in CasualML workshop - Conference on Neural Information Processing Systems (NeurIPS) 2019
			</p>
	    <p style="text-align:justify">
				<b>Supervised learning of protein thermal stability using sequence mining and distribution statistics of network centrality</b><br />
		    		Ankit Sharma, Ganesh Bagler, Debajyoti Bera - September, 2019<br />
		    		<a href="https://www.biorxiv.org/content/10.1101/777177v2">bioRXiv</a>
			</p>
	
	</div>
	
    <div id="skills">
        <h2 class="heading"><u>Languages</u></h2>
        <ul>
            <li>Python</li>
            <li>Java</li>
	    <li>C#</li>
            <li>C</li>
            <li>C++</li>
	    <li>MATLAB</li>
            <li>PL/SQL</li>
        </ul>
    </div>
    
    <!-- End #skills -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</body>

<div class="posts-list">
  {% for post in paginator.posts %}
  <article class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
	  <h2 class="post-title">{{ post.title }}</h2>

	  {% if post.subtitle %}
	  <h3 class="post-subtitle">
	    {{ post.subtitle }}
	  </h3>
	  {% endif %}
    </a>

    <p class="post-meta">
      Posted on {{ post.date | date: "%B %-d, %Y" }}
    </p>

    <div class="post-entry-container">
      {% if post.image %}
      <div class="post-image">
        <a href="{{ post.url | prepend: site.baseurl }}">
          <img src="{{ post.image }}">
        </a>
      </div>
      {% endif %}
      <div class="post-entry">
        {{ post.excerpt | strip_html | xml_escape | truncatewords: site.excerpt_length }}
        {% assign excerpt_word_count = post.excerpt | number_of_words %}
        {% if post.content != post.excerpt or excerpt_word_count > site.excerpt_length %}
          <a href="{{ post.url | prepend: site.baseurl }}" class="post-read-more">[Read&nbsp;More]</a>
        {% endif %}
      </div>
    </div>

    {% if post.tags.size > 0 %}
    <div class="blog-tags">
      Tags:
      {% if site.link-tags %}
      {% for tag in post.tags %}
      <a href="{{ site.baseurl }}/tags#{{- tag -}}">{{- tag -}}</a>
      {% endfor %}
      {% else %}
        {{ post.tags | join: ", " }}
      {% endif %}
    </div>
    {% endif %}

   </article>
  {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<ul class="pager main-pager">
  {% if paginator.previous_page %}
  <li class="previous">
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="next">
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %}
